.borderless {
    margin: 25px auto;
}

.borderless th, .borderless td {
    border: none !important;
    text-align: left;
    padding: 0;
}

.borderless th {
    width: 20px;
}


.contacts-info {
    text-align: left;
    margin-left: 10%;
}

.contacts-icon {
    margin-left: 50%
    
}
